/* Form Checkbox */
.form-checkbox {
    // Icon params
    @icon-size: 16px;
    @icon-image: "../../form-checkbox/checkmark.svg"; // relative path from CSS file
    @icon-color: dodgerblue; // set this color in SVG file
    @icon-bg-color: white;
    @icon-border-color: lightgray;

    // Label params
    @label-font-size: 15px;
    @label-line-height: 18px;
    @label-padding: 6px;

    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: @icon-size;
        height: @icon-size;
        margin: (@label-line-height - @icon-size) / 2;
        background-color: @icon-bg-color;
        border: 1px solid @icon-border-color;
        border-radius: 2px;
        box-sizing: border-box;

        &:before {
            content: "";
            position: absolute;
            left: 1px;
            bottom: 1px;
            width: 0;
            height: 0;
            transition: width 200ms ease-out;
        }
    }

    &__input:enabled:hover + &__icon {
        border-color: fade(@icon-color, 50%);
    }

    &__input:enabled:focus + &__icon {
        box-shadow: 0 0 3px fade(@icon-color, 50%);
    }

    &__input:checked + &__icon {
        &:before {
            width: @icon-size;
            height: @icon-size;
            background: data-uri(@icon-image) no-repeat;
        }
    }

    &__label {
        padding-left: @label-padding;
        font-size: @label-font-size;
        line-height: @label-line-height;
    }

    &__input:disabled + &__icon,
    &__input:disabled ~ &__label {
        cursor: not-allowed;
        opacity: 0.5;
    }
}